body{
    height: 1820px;
    cursor: url("AppStarting.ani");
}
.kek{
    display: flex;
    flex-direction: column;
}
.container{
width: 100%;
max-width: 1200px;
margin: 0 auto;}

.intro{
    width: 100%;
    height: 100vh;
    background: url("kek1.jpg") center 
        no-repeat;
    background-size: cover;
}
.lol{
    font-size: 20px;
    border-color: aqua;
    color: fuchsia;
    margin: 35px auto;
}
.lol:after,
.lol:before{
    content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    background: #fff;
    margin: 110px auto;
}
.lol:before{
    transform: rotate(90deg);
   /* margin: 90px 3.5px auto;*/
}
.lol:after{
    transform: rotate(0deg);
    margin: 110px -178px auto;
}
.name{
    font-family: 'Philosopher', sans-serif;
    color: #fff;  
    margin: 230px auto;
    
}
.ak{
    font-family: 'Playfair Display', serif;
    color: #fff; 
    margin-top: -210px;
}
.send{
    border-radius: 20px;
     width: 250px;
  height: 50px;
   font-family: 'Oswald', sans-serif;
   background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
    font-size: 18px;
}
 .send:hover{
        background: linear-gradient(45deg, #EECFBA, #C5DDE8);
         animation: radial-pulse 1s infinite;
    }
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(244, 210, 247, 0.5);
  }
 
  100% {
    box-shadow: 0 0 0 40px rgba(244, 210, 247, 0);
  }
}
.next1{
   width: 100%;
 height: 100vh;
    background-size: cover;
}
.about{
  padding-left: 350px;
  padding-top: 80px;
    padding-right: 70px;
}
h1{
       font-family: 'Philosopher', sans-serif;
    color: #25274f;
}
a{
    font-family: 'Playfair Display', serif;
text-align: justify;
}
.slider{
    padding-left: 720px;
    padding-right: 50px;
  margin: -48px auto;
    display: flex;
    justify-content:space-between;
    font-family: 'Neucha',cursive;
    color: #fff;
    text-decoration: none;
}
.item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: white;
    text-decoration: none;
}
.item:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: yellow;
    opacity: 0;
    transition: opacity .2s linear;
}
.item:hover:after{
   opacity: 1;
}

.sanya{
     margin: -250px auto;
    height: 550px;
}
.predmet{
    height:90px;
}
.fotki{padding-left: 350px;
}
.fotki1{
    padding-left: 350px;
}