a{
	text-decoration: none;
	color:black;
	font-weight:900;
}
p{
	text-decoration: none;
}
body{
    height: 1820px;
    cursor: url("AppStarting.ani");
}
.kek{
    display: flex;
    flex-direction: column;
}
.container{
width: 100%;
max-width: 1200px;
margin: 0 auto;}

.intro{
    width: 100%;
    height: 100vh;
    background: url("kek1.jpg") center 
        no-repeat;
    background-size: cover;
}
.lol{
    font-size: 20px;
    border-color: aqua;
    color: fuchsia;
    margin: 35px auto;
}
.lol:after,
.lol:before{
    content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    background: #fff;
    margin: 110px auto;
}
.lol:before{
    transform: rotate(90deg);
   /* margin: 90px 3.5px auto;*/
}
.lol:after{
    transform: rotate(0deg);
    margin: 110px -178px auto;
}
.name{
    font-family: 'Philosopher', sans-serif;
    color: #fff;  
    margin: 230px auto;
    
}
.ak{
    font-family: 'Playfair Display', serif;
    color: #fff; 
    margin-top: -210px;
}
.send{
    border-radius: 20px;
     width: 250px;
  height: 50px;
   font-family: 'Oswald', sans-serif;
   background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
    font-size: 18px;
    position: relative;
	text-align:center;
}
 .send:hover{
        background: linear-gradient(45deg, #EECFBA, #C5DDE8);
         animation: radial-pulse 1s infinite;
     cursor: pointer;
    }
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(244, 210, 247, 0.5);
  }
 
  100% {
    box-shadow: 0 0 0 40px rgba(244, 210, 247, 0);
  }
}
.next1{
   width: 100%;
    background-size: cover;
}
.next2{
   width: 100%;
   padding:30px;
   margin:0 auto;
   background-size: cover;
   text-align:center;
   background: linear-gradient(to top left, powderblue, pink);
}
.about{
	padding:10px;
	box-sizing: border-box;
}
.img-slider{
	width:50%;
	margin:0 auto;
}
.img-slider img{
	width:100%;
}

h1{
       font-family: 'Philosopher', sans-serif;
    color: #25274f;
}
a{
    font-family: 'Playfair Display', serif;
	text-align: justify;
}
p{
    font-family: 'Playfair Display', serif;
	text-align: justify;
}
.slider{
    padding-left: 720px;
    padding-right: 50px;
  margin: -48px auto;
    display: flex;
    justify-content:space-between;
    font-family: 'Neucha',cursive;
    color: #fff;
    text-decoration: none;
}
.item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: white;
    text-decoration: none;
}
.item:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: yellow;
    opacity: 0;
    transition: opacity .2s linear;
}
.item:hover:after{
   opacity: 1;
}
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  cursor: default
}

.overlay:target {
  //display: block
}

.popup {
  top: -100%;
  right: 0;
  left: 50%;
  font-size: 14px;
  z-index: 20;
  margin: 0;
  width: 85%;
  min-width: 320px;
  max-width: 600px;
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  background: #FEFEFE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
  -webkit-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform .6s ease-out;
  -moz-transition: -moz-transform .6s ease-out;
  -o-transition: -o-transform .6s ease-out;
  transition: transform .6s ease-out
}

.popup:target {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 20%
}

.close {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  position: absolute;
  padding: 0;
  border: 2px solid #CCC;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(61, 61, 61, 0.8);
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  text-align: center;
  text-decoration: none;
  font: 13px/20px 'Tahoma', Arial, sans-serif;
  font-weight: bold;
  -webkit-transition: all ease .8s;
  -moz-transition: all ease .8s;
  -ms-transition: all ease .8s;
  -o-transition: all ease .8s;
  transition: all ease .8s
}

.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px
}

.close:hover {
  background-color: rgba(252, 20, 0, 0.8);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg)
}
.sanya{
	float:left;
}
.sanya img{
	margin:0 20px 0 0;
    height: 550px;
}
.predmet{
    height:90px;
}
.fotki{
	/**/
	width:200px;
	float:left;
	text-align:center;
}
.fotki1{
    padding-left: 350px;
}
.sf{  
    color: black;
}
.sf:hover{
    color: black;
}
.sf:visited(
color:black;)
.zag{
}
.field{
  clear:both; 
  text-align:right;
    line-height:25px;
}
.win{
    float: left;
    padding-right:10px;
}
.main1
{
    float: left;
}
